body {
    background-color: #FEFFFB;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    color: black;
    margin: 0%;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.start {
    background-image: url("../images/my_pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    padding-top: 160px;
}

div.top {
    height: 380px;
}

h1.start {
    color: black;
    font-size: 80px;
    margin-bottom: 0%;
}

p.start {
    color: black;
    font-size: 23px;
    margin-top: 0%;
    padding-top: 20px;
}

p.tag {
    margin-bottom: 0;
    font-size: 22px;
    font-style: italic;
    color: green;
    font-weight: bold;
}

div.edu {
    text-align: left;
}

div.skills {
    background-image: url("../images/skills.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    color: white;
}

.heading {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

td.para {
    width: 415px;
    height: 167px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centertext {
    text-align: center;
}

.details {
    font-size: 130%;
}

div {
    padding: 10px;
}

table {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

a {
    color: rgb(14, 45, 149);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.bold {
    font-weight: bold;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: red;
}

hr.styled {
    border-style: none;
    border-top-style: dotted;
    border-color: black;
    border-top-width: 10px;
    width: 7%;
    padding-bottom: 7px;
}

hr.normal {
    background-color: black;
    width: 30%;
}
